{{#extend "scripts"}}
	<script type="text/javascript">
		$(document).ready(function(){});
	</script>
{{/extend}}

{{#extend "styles"}}
	<style type="text/css"></style>
{{/extend}}

<div id="page-wrapper">
	<!-- Header -->
		<div id="header-wrapper" class="wrapper">
			<div id="header">

				<!-- Logo -->
					<div id="logo">
						<h1>Error</h1>
						<p>Sorry, something went wrong</p>
					</div>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="current"><a href="index.html">Home</a></li>
							<li>
								<a href="#">Dropdown</a>
								<ul>
									<li><a href="#">Lorem ipsum</a></li>
									<li><a href="#">Magna veroeros</a></li>
									<li><a href="#">Etiam nisl</a></li>
									<li>
										<a href="#">Sed consequat</a>
										<ul>
											<li><a href="#">Lorem dolor</a></li>
											<li><a href="#">Amet consequat</a></li>
											<li><a href="#">Magna phasellus</a></li>
											<li><a href="#">Etiam nisl</a></li>
											<li><a href="#">Sed feugiat</a></li>
										</ul>
									</li>
									<li><a href="#">Nisl tempus</a></li>
								</ul>
							</li>
							<li><a href="left-sidebar.html">Left Sidebar</a></li>
							<li><a href="right-sidebar.html">Right Sidebar</a></li>
							<li><a href="no-sidebar.html">No Sidebar</a></li>
						</ul>
					</nav>

			</div>
		</div>
</div>