<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Office Hours</title>

    <!-- Favicon  -->
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- >>>>>>>>>>>>>>>> All CSS Files <<<<<<<<<<<<<<<< -->

    <!-- Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Switch Fonts via CSS Import system -->
    <link href="css/fonts/opensans.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">

    <!--[if IE]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="classy-load"></div>
    </div>

    <!-- >>>>>>>>>>>>>>>> Header Start <<<<<<<<<<<<<<<<< -->
    <header class="header_area">
        <!-- Main Header Area Start -->
        <div class="main_header_area animated">
            <div class="container">
                <div class="row">
                    <!-- Logo Area Start -->
                    <div class="col-md-6 col-9">
                        <div class="logo_area">
                            <a href="index.html"><img src="img/eisad--logo.png" alt="">The Society for Excellence in Software and Design</a>
                        </div>
                    </div>
                    <!-- Menu Area Start -->
                    <div class="col-md-6 col-12">
                        <div class="main_menu_area">
                            <div class="mainmenu">
                                <nav>
                                    <ul id="nav">
										<li class="current_page_item"><a href="#mission">Mission</a></li>
                                        <li><a href="#mentors">Mentors</a></li>
                                        <li><a href="#contact">Connect</a></li>
                                        <li><a href="#contributors">Contributors</a></li>
                                        <li><a href="#readme">Readme</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- >>>>>>>>>>>>>>>> Header End <<<<<<<<<<<<<<<< -->

    <!-- >>>>>>>>>>>>>>>> Welcome Area Start <<<<<<<<<<<<<<<< -->
    <section class="welcome_area height_600 jarallax" id="top" style="background-image: url(img/hero-06-a.png);">
        <!-- Welcome Text -->
        <div class="table">
            <div class="table_cell">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm">
                            <div class="welcome_text white item">
                                <h2>Offi<span class="kern-minus-2"></span>c<span class="kern-minus-2"></span>e H<span class="kern-minus-4"></span>ours</h2>
                                <p>A community driven mentorship program</p>
                                {{!-- <a href="#" class="btn default-button" role="button">Dive In</a> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Welcome Area End <<<<<<<<<<<<<<<< -->

    <!-- >>>>>>>>>>>>>>>>>> Special Feature Area Start <<<<<<<<<<<<<<<< -->
    <section class="special_feature_area section_padding_100_70">
        <div class="container">
            <div class="row">
                <!-- About Us Area -->
                <div class="col-7 col-lg-7 item">
                    <!-- About Us Text Start -->
                    <div class="about_us_text">
                        <h3>Mission Statement</h3>
                        <p>To promote a culture of reciprocity to support new and veteran members of the tech community alike.</p>
                        <a href="https://medium.com/the-society-for-excellence-in-software-and-design/office-hours-8c44c3b1785e" class="">Read our history <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </div>

                <!-- About Us Area -->
                <div class="col-5 col-lg-5 item">
                    <!-- About Us Text Start -->
                    <div class="about_us_text">
                        <h3>Values</h3>
                    </div>
                    <div class="container">
                        <div class="row">
                            <!-- Single Feature Area Start -->
                            <div class="col-sm-12 col-lg-12">
                                <div class="single_feature item wow fadeInUp" data-wow-delay=".4s">
                                    <div class="feature_img hexagon">
                                        <i class="ion-happy" aria-hidden="true"></i>
                                    </div>
                                    <!-- Single Feature Image Area End -->
                                    <div class="feature_text">
                                        <h4>Community</h4>
                                        <p>Develop your business network by participating in a culture of giving back</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Single Feature Area Start -->
                            <div class="col-sm-12 col-lg-12">
                                <div class="single_feature item wow fadeInUp" data-wow-delay=".6s">
                                    <div class="feature_img hexagon">
                                        <i class="ion-chatboxes" aria-hidden="true"></i>
                                    </div>
                                    <!-- Single Feature Image Area End -->
                                    <div class="feature_text">
                                        <h4>Knowledge</h4>
                                        {{!-- <p>Everything between school and job #1. Getting people from almost ready to job ready.</p> --}}
                                        <p>Fill the gaps and learn how to go from almost ready to job ready</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Single Feature Area Start -->
                            <div class="col-sm-12 col-lg-12">
                                <div class="single_feature item wow fadeInUp" data-wow-delay=".8s">
                                    <div class="feature_img hexagon">
                                        <i class="ion-earth" aria-hidden="true"></i>
                                    </div>
                                    <!-- Single Feature Image Area End -->
                                    <div class="feature_text">
                                        <h4>Opportunity</h4>
                                        <p>People say it comes down to who you know; lets make that easier</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Special Feature Area End <<<<<<<<<<<<<<<< -->

    <!-- >>>>>>>>>>>>>>>> FAQ Area Start <<<<<<<<<<<<<<<< -->
    <section class="faq_question_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">

                    <!-- Section Heading Start -->
                    <div class="section_heading text-left">
                        <h3>Frequently asked questions</h3>
                    </div>

                    <!-- FAQ Area Start -->
                    <div class="faq_area">
                        <div class="accordions" id="accordion" role="tablist" aria-multiselectable="true">

                            <!-- single accordian area start -->
                            <div class="panel single-accordion">
                                <h6>
                                    <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What does it cost?
                                    <span class="accor-open"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                    <span class="accor-close"><i class="fa fa-sort-asc" aria-hidden="true"></i></span>
                                    </a>
                                </h6>
                                <div id="collapseOne" class="accordion-content collapse">
                                    <p>Office Hours is 100% free and volunteer run. We do this because we believe in you. The only thing we ask is that next time you have an opportunity to help someone in need, you do.</p>
                                </div>
                            </div>

                            <!-- single accordian area start -->
                            <div class="panel single-accordion">
                                <h6>
                                    <a role="button" class="collapsed" aria-expanded="true" aria-controls="two" data-parent="#accordion" data-toggle="collapse" href="#two">How do I sign up?
                                    <span class="accor-open"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                    <span class="accor-close"><i class="fa fa-sort-asc" aria-hidden="true"></i></span>
                                    </a>
                                </h6>
                                <div id="two" class="accordion-content collapse">
                                    <p>Simply register at any time and you'll be ready to go in minutes. Maybe even seconds if it's a good day.</p>
                                </div>
                            </div>

                            <!-- single accordian area start -->
                            <div class="panel single-accordion">
                                <h6>
                                    <a role="button" aria-expanded="true" aria-controls="three" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#three">How do I volunteer?
                                     <span class="accor-open"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                <span class="accor-close"><i class="fa fa-sort-asc" aria-hidden="true"></i></span>
                                    </a>
                                </h6>
                                <div id="three" class="accordion-content collapse">
                                    <p>That's easy, fill out the form below and we'll get back with you as soon as possible.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="testimonials_area xs-mt-30">
                        <div class="testimonials">
                            <!-- Single testimonial area start  -->
                            <div class="single_testimonial_area">
                                <!-- Single testimonial thumb  -->
                                <div class="testimonial_author_thumb">
                                    <img src="img/advisor-img/tes-1.jpg" alt="">
                                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                                </div>
                                <!-- Single testimonial text  -->
                                <div class="testimonial_text">
                                    <p>"This is wonderful!</p>
                                    <p>You and Scott and all the mentors<br/> on here are totally the best!!!"</p>
                                </div>
                                <div class="testimonial_author_name">
                                    <h5>Rob Gaston</h5>
                                    <h6>Member</h6>
                                </div>
                            </div>

                            <!-- Single testimonial area start  -->
                            <div class="single_testimonial_area">
                                <!-- Single testimonial thumb  -->
                                <div class="testimonial_author_thumb">
                                    <img src="img/advisor-img/tes-2.jpg" alt="">
                                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                                </div>
                                <!-- Single testimonial text  -->
                                <div class="testimonial_text">
                                    <p>Theme is very good. Support is fast &amp; helpful. Thank you.</p>
                                </div>
                                <div class="testimonial_author_name">
                                    <h5>Rafiqul Islam</h5>
                                    <h6>WrapBootstrap User</h6>
                                </div>
                            </div>

                            <!-- Single testimonial area start  -->
                            <div class="single_testimonial_area">
                                <!-- Single testimonial thumb  -->
                                <div class="testimonial_author_thumb">
                                    <img src="img/advisor-img/tes-3.jpg" alt="">
                                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                                </div>
                                <!-- Single testimonial text  -->
                                <div class="testimonial_text">
                                    <p>Fast, neat and beautiful. Nailed it!</p>
                                </div>
                                <div class="testimonial_author_name">
                                    <h5>Lim Sarah</h5>
                                    <h6>WrapBootstrap User</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> FAQ Area End <<<<<<<<<<<<<<<< -->

    <!-- >>>>>>>>>>>>>>>> Blog Area Start <<<<<<<<<<<<<<<< -->
    <section class="blog_area section_padding_100_70" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Start -->
                    <div class="section_heading">
                        {{!-- <p>our creative info</p> --}}
                        <h3>Recent Posts</h3>
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- single latest news area start -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single_latest_news_area wow fadeInUp item" data-wow-delay=".2s">
                        <!-- single latest news thumb -->
                        <div class="single_latest_news_img_area">
                            <img src="img/news-img/blog.jpg" alt="">
                            <!-- single latest news published date -->
                        </div>
                        <div class="single_latest_news_text_area">
                            <!--  Date & tag -->
                            <div class="date_tag">
                                <div class="date">
                                    <p>03 Feb 2017</p>
                                </div>
                                <div class="tag">
                                    <a href="#">Blog</a>
                                </div>
                            </div>
                            <!-- single latest news title -->
                            <div class="news_title">
                                <a href="single-blog-with-right-sb.html">
                                    <h4>Headline indicating nature of articles.</h4>
                                </a>
                            </div>
                            <!-- single latest news excerp -->
                            <div class="news_content">
                                <p>Classy is completely creative, clean &amp; 100% responsive website. Put your business into next level with classy.</p>
                                <a href="single-blog-with-left-sb.html">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- single latest news area start -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single_latest_news_area wow fadeInUp item" data-wow-delay=".4s">
                        <!-- single latest news thumb -->
                        <div class="single_latest_news_img_area">
                            <img src="img/news-img/blog-2.jpg" alt="">
                            <!-- single latest news published date -->
                        </div>
                        <div class="single_latest_news_text_area">
                            <!--  Date & tag -->
                            <div class="date_tag">
                                <div class="date">
                                    <p>01 Feb 2017</p>
                                </div>
                                <div class="tag">
                                    <a href="#">Trending</a>
                                </div>
                            </div>
                            <!-- single latest news title -->
                            <div class="news_title">
                                <a href="single-blog-with-right-sb.html">
                                    <h4>Headline indicating nature of articles.</h4>
                                </a>
                            </div>
                            <!-- single latest news excerp -->
                            <div class="news_content">
                                <p>Classy is completely creative, clean &amp; 100% responsive website. Put your business into next level with classy.</p>
                                <a href="single-blog-with-right-sb.html">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- single latest news area start -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single_latest_news_area wow fadeInUp item" data-wow-delay=".6s">
                        <!-- single latest news thumb -->
                        <div class="single_latest_news_img_area">
                            <img src="img/news-img/blog-3.jpg" alt="">
                            <!-- single latest news published date -->
                        </div>
                        <div class="single_latest_news_text_area">
                            <!--  Date & tag -->
                            <div class="date_tag">
                                <div class="date">
                                    <p>27 Jan 2017</p>
                                </div>
                                <div class="tag">
                                    <a href="#">Notice</a>
                                </div>
                            </div>
                            <!-- single latest news title -->
                            <div class="news_title">
                                <a href="single-blog-with-right-sb.html">
                                    <h4>Headline indicating nature of articles.</h4>
                                </a>
                            </div>
                            <!-- single latest news excerp -->
                            <div class="news_content">
                                <p>Classy is completely creative, clean &amp; 100% responsive website. Put your business into next level with classy.</p>
                                <a href="single-blog-with-right-sb.html">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Blog Area End <<<<<<<<<<<<<<<< -->

    <!-- >>>>>>>>>>>>>>>> Project Details area start <<<<<<<<<<<<<<<< -->
    <div id="works_details_wrapper">
        <!-- Modal-box -->
        <div role="dialog" tabindex="-1" id="works_details" class="modal fade in animated slideInDown">
            <div role="document" class="modal-dialog">
                <div class="modal-content">
                    <!-- modal Head start -->
                    <div class="modal_head">
                        <button aria-label="Close" data-dismiss="modal" class="close" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                    <!-- modal body start -->
                    <div class="modal_body">
                        <!-- single gallery description start -->
                        <div class="single_gallery_area">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <!--  Gallery Slider -->
                                        <div class="single_gallary_slider">
                                            <div class="single_slider">
                                                <img src="img/gallery/2.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <!--  Gallery Details Info -->
                                        <div class="single_gallery_item_info">
                                            <!-- Headline -->
                                            <div class="headline">
                                                <h5>Project Name: Business Planning</h5>
                                                <p>Client: Lim Sarah</p>
                                            </div>
                                            <!--  Description -->
                                            <div class="description">
                                                <p>Classy is completely creative, clean &amp; 100% responsive website. Put your business into next level with classy.</p>
                                            </div>
                                            <!--   live preview button   -->
                                            <div class="live_preview">
                                                <a href="#" class="btn default-button"><i class="fa fa-eye" aria-hidden="true"></i> Live Preview</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- >>>>>>>>>>>>>>>> Project Details area end <<<<<<<<<<<<<<<< -->

    <!-- >>>>>>>>>>>>>>>> Project area start <<<<<<<<<<<<<<<< -->
    <section class="gallery_area section_padding_100_0 clearfix" id="contributors">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Section Heading Start -->
                    <div class="section_heading">
                        <p>Our wonderful Allies</p>
                        <h3>Contributors</h3>
                    </div>
                    <!-- Section Heading End -->
                </div>
            </div>
        </div>

        <div class="gallery_menu text-center">
            <div class="portfolio-menu">
                <button class="active btn" type="button" data-filter="*">All</button>
                <button class="btn" type="button" data-filter=".par">Partners</button>
                <button class="btn" type="button" data-filter=".spo">Sponsors</button>
                <button class="btn" type="button" data-filter=".sch">Schools</button>
                {{!-- <button class="btn" type="button" data-filter=".app">Participants</button> --}}
            </div>
        </div>

        <div class="gallery_full_width_images_area clearfix">
            <!-- Single gallery Item Start -->
            <div class="single_gallery_item par wow fadeInUp">
                <img src="img/gallery/1.jpg" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="table">
                        <div class="table_cell">
                            <div class="gallery_info">
                                <h5>Creative Work</h5>
                                <p>Business</p>
                                <div class="more_details">
                                    <a class="btn btn-sm" data-target="#works_details" data-toggle="modal" href="#">More Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image_zoom_in">
                        <a class="gallery_img" href="img/gallery/1.jpg"><i class="fa fa-camera" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item spo wow fadeInUp">
                <img src="img/gallery/2.jpg" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="table">
                        <div class="table_cell">
                            <div class="gallery_info">
                                <h5>Creative Work</h5>
                                <p>Business</p>
                                <div class="more_details">
                                    <a class="btn btn-sm" data-target="#works_details" data-toggle="modal" href="#">More Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image_zoom_in">
                        <a class="gallery_img" href="img/gallery/2.jpg"><i class="fa fa-camera" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item wow spo fadeInUp">
                <img src="img/gallery/3.jpg" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="table">
                        <div class="table_cell">
                            <div class="gallery_info">
                                <h5>Creative Work</h5>
                                <p>Business</p>
                                <div class="more_details">
                                    <a class="btn btn-sm" data-target="#works_details" data-toggle="modal" href="#">More Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image_zoom_in">
                        <a class="gallery_img" href="img/gallery/3.jpg"><i class="fa fa-camera" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item wow par fadeInUp">
                <img src="img/gallery/4.jpg" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="table">
                        <div class="table_cell">
                            <div class="gallery_info">
                                <h5>Creative Work</h5>
                                <p>Business</p>
                                <div class="more_details">
                                    <a class="btn btn-sm" data-target="#works_details" data-toggle="modal" href="#">More Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image_zoom_in">
                        <a class="gallery_img" href="img/gallery/4.jpg"><i class="fa fa-camera" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item spo wow fadeInUp">
                <img src="img/gallery/5.jpg" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="table">
                        <div class="table_cell">
                            <div class="gallery_info">
                                <h5>Creative Work</h5>
                                <p>Business</p>
                                <div class="more_details">
                                    <a class="btn btn-sm" data-target="#works_details" data-toggle="modal" href="#">More Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image_zoom_in">
                        <a class="gallery_img" href="img/gallery/5.jpg"><i class="fa fa-camera" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item par wow fadeInUp">
                <img src="img/gallery/6.jpg" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="table">
                        <div class="table_cell">
                            <div class="gallery_info">
                                <h5>Creative Work</h5>
                                <p>Business</p>
                                <div class="more_details">
                                    <a class="btn btn-sm" data-target="#works_details" data-toggle="modal" href="#">More Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image_zoom_in">
                        <a class="gallery_img" href="img/gallery/6.jpg"><i class="fa fa-camera" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item sch wow fadeInUp">
                <img src="img/gallery/7.jpg" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="table">
                        <div class="table_cell">
                            <div class="gallery_info">
                                <h5>Creative Work</h5>
                                <p>Business</p>
                                <div class="more_details">
                                    <a class="btn btn-sm" data-target="#works_details" data-toggle="modal" href="#">More Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image_zoom_in">
                        <a class="gallery_img" href="img/gallery/7.jpg"><i class="fa fa-camera" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item spo wow fadeInUp">
                <img src="img/gallery/8.jpg" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="table">
                        <div class="table_cell">
                            <div class="gallery_info">
                                <h5>Creative Work</h5>
                                <p>Business</p>
                                <div class="more_details">
                                    <a class="btn btn-sm" data-target="#works_details" data-toggle="modal" href="#">More Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image_zoom_in">
                        <a class="gallery_img" href="img/gallery/8.jpg"><i class="fa fa-camera" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Project area end <<<<<<<<<<<<<<<< -->

    <!-- >>>>>>>>>>>>>>>> Message Now Area Start <<<<<<<<<<<<<<<< -->
    <section class="message_now_area bg-gray section_padding_100_70" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Message Title -->
                    <div class="message_title">
                        <!-- Section Heading Start -->
                        <div class="section_heading">
                            <p>Questions, concerns, etc.?</p>
                            <h3>Send Us a Message</h3>
                        </div>
                    </div>

                    <div class="contact_from">
                        <form action="mail.php" method="post" id="main_contact_form">
                            <!-- Message Input Area Start -->
                            <div class="contact_input_area">
                                <div id="success_fail_info"></div>
                                <div class="row">
                                    <!-- Single Input Area Start -->
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Full Name" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Email address" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message" required></textarea>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <button type="submit" class="btn default-button default-button-blue">Send</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- >>>>>>>>>>>>>>>> Message Now Area Start <<<<<<<<<<<<<<<< -->

    <!-- >>>>>>>>>>>>>>>> Footer Area Start <<<<<<<<<<<<<<<< -->
    <footer class="footer_area inline-style" id="readme">
        <!-- Bottom Footer Area Start -->
        <div class="footer_bottom_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="social_links_area">
                            <a href="#">Policies</a>
                            <a href="#">Legal Filing</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="footer_bottom">
                            <p>Made with <i class="fa fa-heart"></i> by <a href="#">The Society for Excellence in Software and Design</a></p>
                        </div>
                        <!-- Bottom Footer Copywrite Text Area End -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- >>>>>>>>>>>>>>>> Footer Area End <<<<<<<<<<<<<<<< -->

    <!-- >>>>>>>>>>>>>>>> All jQuery Plugins <<<<<<<<<<<<<<<< -->

    <!-- jQuery (necessary for all JavaScript plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Google Maps js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk9KNSL1jTv4MY9Pza6w8DJkpI_nHyCnk" type="text/javascript"></script>
    <!-- Google Maps Active js -->
    <script src="js/map-active.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>
