/*! #######################################################################
	MeanMenu 2.0.7
	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)
####################################################################### */

a.meanmenu-reveal {
    display: none
}

.mean-container .mean-bar {
    background: transparent none repeat scroll 0 0;
    height: 90px;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 999999;
    top: 0;
    right: 0
}

.mean-container a.meanmenu-reveal {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    padding: 33px 18px;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-indent: -9999em;
    top: 0;
    color: #2c3e50;
    width: 28px
}

.mean-container a.meanmenu-reveal span {
    background: #fff none repeat scroll 0 0;
    display: block;
    height: 3px;
    margin-top: 3px
}

.mean-container.mobile_menu_on a.meanmenu-reveal span {
    background: #111;
}

.mean-container .mean-nav {
    float: left;
    width: 100%;
    background: #fff;
    margin-top: 90px
}

.mean-container .mean-nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none
}

.mean-container .mean-nav ul li {
    position: relative;
    float: left;
    width: 100%
}

.mean-container .mean-nav ul li a {
    border-top: 1px solid rgba(0, 0, 0, .3);
    color: #2c3e40;
    display: block;
    float: left;
    margin: 0;
    padding: 10px 5%;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    width: 90%
}

.mean-container .mean-nav ul li li a {
    border-top: 1px solid rgba(0, 0, 0, .5);
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    padding: 10px 10%;
    text-shadow: none!important;
    visibility: visible;
    width: 80%
}

.mean-container .mean-nav ul li.mean-last a {
    border-bottom: none;
    margin-bottom: 0
}

.mean-container .mean-nav ul li li li a {
    width: 70%;
    padding: 10px 15%
}

.mean-container .mean-nav ul li li li li a {
    width: 60%;
    padding: 10px 20%
}

.mean-container .mean-nav ul li li li li li a {
    width: 50%;
    padding: 10px 25%
}

.mean-container .mean-nav ul li a:hover {
    background-color: #f3f3f3
}

.mean-container .mean-nav ul li a.mean-expand {
    background-color: #2c3e50;
    color: #fff;
    font-size: 24px!important;
    font-weight: 700;
    height: 40px;
    margin-top: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px;
    z-index: 2;
    line-height: 1.5!important
}

.mean-container .mean-nav ul li a.mean-expand:hover {
    background-color: #e67e22
}

.mean-container .mean-push {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both
}

.mean-nav .wrapper {
    width: 100%;
    padding: 0;
    margin: 0
}

.mean-container .mean-bar,
.mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.mean-remove {
    display: none!important
}

.mean-container .mean-bar {
    height: auto;
    padding: 0;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999999;
    background-color: transparent
}

.mean-container a.meanmenu-reveal {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    padding: 25px 20px;
    position: fixed;
    right: 0;
    text-decoration: none;
    text-indent: -9999em;
    top: 0;
    width: 28px
}

.mean-container.mobile_menu_on a.meanmenu-reveal {
    color: #2c3e50
}

.mean-container .mean-nav {
    background: #fff none repeat scroll 0 0;
    -webkit-box-shadow: 0 15px 15px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, .25);
    float: left;
    margin-top: 0;
    position: fixed;
    top: 90px;
    width: 100%
}

.meanmenu-reveal.meanclose>span {
    position: absolute;
    top: 40px;
    width: 25px
}

.meanmenu-reveal.meanclose>span:first-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.meanmenu-reveal.meanclose>span:last-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.creative.mean-container .mean-nav {
    background: #15151e none repeat scroll 0 0;
    -webkit-box-shadow: 0 15px 15px 0 rgba(255, 255, 255, .25);
    box-shadow: 0 15px 15px 0 rgba(255, 255, 255, .25)
}

.creative.mean-container .mean-nav ul li a {
    border-top: 1px solid rgba(255, 255, 255, .5);
    color: #fff
}

.creative.mean-container .mean-nav ul li a:hover {
    background-color: rgba(255, 255, 255, .1)
}

.creative.mean-container a.meanmenu-reveal span {
    background: #fff none repeat scroll 0 0
}
